{
    "trailingComma": "none",
    "semi": false,
    "singleQuote": false,
    "tabWidth": 2,
	"importOrder": ["^components/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
